html {
  margin-top: 26px;
  border-top: 1px dashed #ddd;

  &[data-device=phone],
  &[data-device=tablet] {
    margin-left: auto;
    margin-right: auto;
    background-image: icon-url('chess', rgba(0, 0, 0, .1));
  }

  &[data-device=phone] {
    width: 320px;
  }

  &[data-device=tablet] {
    width: 600px;
  }
}

#app {
  font-family: 'Verdana';

  textarea {
    resize: none;
  }
}
