<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Open Layout</title>
</head>
<body>
<div class="wrapper">
            <div class="site demo-page">
    <header class="first-header ">



        <div><div class="menu section top-menu">


    <ul class="menu-wrapper simple horizontal" data-role="top-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Roche eolas

    </a>



</li>
<li class="menuItem section">
    <a href="/content/dam.html" class="menu-link ">
        Roche eolas

    </a>



</li>
<li class="menuItem section">
    <a href="/content/dam.html" class="menu-link ">
        Logout

    </a>



</li>


    </ul>

</div>
<div class="searchbox section top-search-box">
    <form action="/content/websites/opentemplate_example/en/home.html" method="get" class="search-box-form" data-role="top-search-box">
        <input class="search-box-input" name="query" type="search" value="" required="">
        <div>


            <div>

            </div>
        </div>
        <input id="test" class="search-box-submit" type="submit" value="Search" data-analytics-link-action="formsubmit">
    </form>



</div>

          <br/><br/><br/><br/><br/><br/>


          <article class="content">
            <div class="textAndMedia section tescior">

              <div class="text-media text-direction-default tescior" data-component="text-media" data-role="dupsko" data-content-featured="false">
                <div>
                  <h1 class="text-media-title"><p>Brightcove video</p>
                  </h1>


                </div><div>

                </div><div>
                  <a class="text-media-img-link" href="/content/websites/opentemplate_example/en/home/components/textAndMedia.html" target="modal-popup">
                    <img src="/content/dam/opentemplate_example/en/images/vintage-medical-bag.jpg" class="text-media-img" data-desktop="/content/dam/opentemplate_example/en/images/vintage-medical-bag.jpg">
                  </a>


                </div><div>
                  <a class="text-media-thumbnail-link" href="https://www.wp.pl" target="modal-popup">
                    <img src="/content/dam/opentemplate_example/en/images/medical-pills.jpg" class="text-media-thumbnail">
                  </a>

                </div><div>
                  <div class="text-media-description"><p>Pierwszy akapit</p>
                    <p>Drugi akapit.</p>
                    <p>Trzeci akapit<br>
                      Czwarty akapit</p>
                    <p><br>
                      &nbsp;</p>
                  </div>


                </div><div>
                  <div class="text-media-article"><p>Clik <span class="download-link">here</span> to download a file.<br />
                    </p>
                    <p> </p>
                    <p><b>Pierwszy akapit<b></b></b></p>
                    <p><b><b> </b></b></p>
                    <p><b>Drugi akapit.</b></p>
                    <p><b><b> </b></b></p>
                    <p><b><b>Trzeci akapit<br />
                          Czwarty akapit</b></b></p>
                    <p><b><b></b></b></p><p> </p>
                    <ul>
                      <li>pierwszy</li>
                      <li>drugi</li>
                    </ul>
                    <p></p>
                    <p> </p>
                    <p> </p>
                    <p>text-media-description/article p b</p>
                  </div>


                </div>
              </div>

            </div>

          </article>


          <br/><br/><br/><br/><br/><br/>


<div class="textAndMedia section logo-roche" style="">

    <div class="text-media-wrapper" data-component="text-media" data-role="logo-roche" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/images/roche-logo-vector-400x400.png">


      <p>paragraph</p>
      <p>paragraph</p>
      <p>paragraph<span class="external-link">external</span></p>
      <p>paragraph<span class="external-link">external</span></p>
      <p>paragraph<span class="external-link">external</span></p>
      <p>paragraph<span class="external-link">external</span></p>




    </div>




</div>
<div class="navigation section main-nav">


    <ul class="menu-wrapper megaMenu horizontal" data-role="main-nav" data-menu-text="menu" data-close-text="close">
        <li class="menu-item-level-1 menu-parent">

        <a class="navigation-link menu-link-level-1" href="/content/websites/opentemplate_example/en/home/components.html"><span>Components</span></a>
        <div class="menu-open menu-arrow-up"></div><ul>


                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/svgEditor.html"><span>SVG Editor</span></a>


</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/definitionList.html"><span>Definition List</span></a>


</li>

                <li class="menu-item-level-2 menu-parent">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/contentList.html"><span>Content List</span></a>
        <ul>


                <li class="menu-item-level-3">

        <a class="navigation-link menu-link-level-3" href="/content/websites/opentemplate_example/en/home/components/contentList/page1.html"><span>Page 1</span></a>


</li>

                <li class="menu-item-level-3">

        <a class="navigation-link menu-link-level-3" href="/content/websites/opentemplate_example/en/home/components/contentList/page2.html"><span>Page 2</span></a>


</li>

        </ul>

</li>

                <li class="menu-item-level-2 menu-parent">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/contentListFilter.html"><span>Content List Filter</span></a>
        <ul>


                <li class="menu-item-level-3">

        <a class="navigation-link menu-link-level-3" href="/content/websites/opentemplate_example/en/home/components/contentListFilter/page1.html"><span>Page 1</span></a>


</li>

                <li class="menu-item-level-3">

        <a class="navigation-link menu-link-level-3" href="/content/websites/opentemplate_example/en/home/components/contentListFilter/page2.html"><span>Page 2</span></a>


</li>

        </ul>

</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/expandableCollapsibleHolder.html"><span>Expandable / Collapsible Holder</span></a>


</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/tabHolder.html"><span>Tab Holder</span></a>


</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/Iframe.html"><span>Iframe</span></a>


</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/menu.html"><span>Menu</span></a>


</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/pageToolbox.html"><span>Page Toolbox</span></a>


</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/selectorbasedparsys.html"><span>Selector Based Parsys</span></a>


</li>

                <li class="menu-item-level-2 menu-parent">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/columnLayoutBlocks.html"><span>Column Layout Blocks</span></a>
        <ul>


                <li class="menu-item-level-3">

        <a class="navigation-link menu-link-level-3" href="/content/websites/opentemplate_example/en/home/components/columnLayoutBlocks/simple.html"><span>Column Layout Blocks - Simple</span></a>


</li>

                <li class="menu-item-level-3">

        <a class="navigation-link menu-link-level-3" href="/content/websites/opentemplate_example/en/home/components/columnLayoutBlocks/wideAndNarrow.html"><span>Column Layout Blocks - Wide + Narrow</span></a>


</li>

                <li class="menu-item-level-3">

        <a class="navigation-link menu-link-level-3" href="/content/websites/opentemplate_example/en/home/components/columnLayoutBlocks/narrowAndWide.html"><span>Column Layout Blocks - Narrow + Wide</span></a>


</li>

                <li class="menu-item-level-3">

        <a class="navigation-link menu-link-level-3" href="/content/websites/opentemplate_example/en/home/components/columnLayoutBlocks/mixed.html"><span>Column Layout Blocks - Mixed</span></a>


</li>

        </ul>

</li>

                <li class="menu-item-level-2 menu-parent">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/slider.html"><span>Slider</span></a>
        <ul>


                <li class="menu-item-level-3">

        <a class="navigation-link menu-link-level-3" href="/content/websites/opentemplate_example/en/home/components/slider/content.html"><span>content</span></a>


</li>

        </ul>

</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/section.html"><span>Section</span></a>


</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/textAndMedia.html"><span>Text &amp; Media</span></a>


</li>

                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/components/table.html"><span>Table</span></a>


</li>

        </ul>

</li>

        <li class="menu-item-level-1 menu-parent">

        <a class="navigation-link menu-link-level-1" href="/content/websites/opentemplate_example/en/home/contact-us.html"><span>Contact us</span></a>
        <div class="menu-open menu-arrow-up"></div><ul>


                <li class="menu-item-level-2">

        <a class="navigation-link menu-link-level-2" href="/content/websites/opentemplate_example/en/home/contact-us/thank-you-page.html"><span>Thank You page</span></a>


</li>

        </ul>

</li>
    </ul>




</div>

</div>
    </header>
    <header class="secondary-header ">



        <div><div class="columnLayoutBlock section">

    <div class="columns">


            <section class="col col-large-12-of-12 col-medium-12-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section top-banner">

    <div class="text-media" data-component="text-media" data-role="top-banner" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-top-banner.png">










        <h1 class="text-media-title"><p>The first and only FDA-approved anti PDLi canceer immunotherapy</p>
</h1>








    </div>




</div>

</div>
            </section>



















































    </div>




</div>

</div>
    </header>
    <div class="page">

        <div class="page-content">
            <article class="main ">



                <div><div class="menu section middle-menu">


    <ul class="menu-wrapper simple horizontal" data-role="middle-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Tecentri

    </a>



</li>
<li class="menuItem section">
    <a href="/content/usergenerated.html" class="menu-link ">
        Mechanism of Action

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Clinical Data

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Dosing and AE Managment

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Resources

    </a>



</li>


    </ul>

</div>
<div class="textAndMedia section">

    <div class="text-media" data-component="text-media" data-content-featured="false">






















    </div>




</div>
<div class="textAndMedia section middle-banner">

    <div class="text-media" data-component="text-media" data-role="middle-banner" data-content-featured="false">




        <h1 class="text-media-title"><p>Tecentriq</p>
</h1>











        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-middle-banner.png">







    </div>




</div>
<div class="textAndMedia section main-text">

    <div class="text-media" data-component="text-media" data-role="main-text" data-content-featured="false">



    <div class="text-media-article"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia neque a metus rutrum venenatis. Morbi felis risus, molestie ac neque vitae, dictum pharetra sem. Phasellus vestibulum diam vel diam luctus, at aliquam leo mattis. Fusce imperdiet mi pellentesque lorem ultrices, id varius elit iaculis. Praesent venenatis nibh vitae aliquam rutrum. Proin porttitor quam vitae eleifend commodo. Phasellus id accumsan arcu. Fusce sed semper sem, nec laoreet ligula. In accumsan, purus vitae iaculis convallis, ante est accumsan arcu, placerat pretium eros mauris sit amet lacus. Suspendisse potenti. Nullam efficitur sem non odio posuere, eget vulputate risus condimentum. Suspendisse vel efficitur mauris, in hendrerit nisi.</p>
<p>Cras vel neque suscipit, cursus arcu a, faucibus ipsum. Sed ornare libero nec velit viverra, nec congue purus scelerisque. Quisque finibus ex lacinia sodales tincidunt. Sed ullamcorper tincidunt orci, ac semper quam tristique quis. Vivamus pulvinar, libero nec laoreet cursus, magna tortor condimentum magna, at malesuada nisi lorem et dolor. Vivamus pharetra rutrum molestie. Sed fringilla nisl ut facilisis ultricies. In hac habitasse platea dictumst. Morbi laoreet nibh eu nisl tincidunt porta. Vestibulum vehicula nisi et sem iaculis fringilla. Nunc vitae fringilla felis, at congue leo. Cras massa neque, aliquet tempus ipsum ut, ultricies dapibus nisi. Aenean tempor sodales velit quis porttitor. Donec lectus turpis, fringilla et ipsum at, elementum egestas lectus. Donec ornare volutpat vestibulum. Integer et bibendum lacus.</p>
</div>






    </div>




</div>

</div>
            </article>
            <article class="secondary-main ">



                <div><div class="textAndMedia section">

    <div class="text-media" data-component="text-media" data-content-featured="false">




        <h1 class="text-media-title"><p>Clinical Data by Indications</p>
</h1>








    </div>




</div>
<div class="columnLayoutBlock section basic-columns">

    <div class="columns" data-role="basic-columns">








            <section class="col col-large-3-of-12 col-medium-3-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section indication">

    <div class="text-media" data-component="text-media" data-role="indication" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-small-img-1.png">







    </div>




</div>
<div class="textAndMedia section indication-text">

    <div class="text-media" data-component="text-media" data-role="indication-text" data-content-featured="false">



    <div class="text-media-description"><p><b>Non-small Cells Lung Cancer</b></p>
</div>






    </div>




</div>
<div class="menu section indication-menu">


    <ul class="menu-wrapper simple horizontal" data-role="indication-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Safety

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Efficacy

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        More

    </a>



</li>


    </ul>

</div>

</div>
            </section>
            <section class="col col-large-3-of-12 col-medium-3-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section indication">

    <div class="text-media" data-component="text-media" data-role="indication" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-small-img-2.png">







    </div>




</div>
<div class="textAndMedia section indication-text">

    <div class="text-media" data-component="text-media" data-role="indication-text" data-content-featured="false">



    <div class="text-media-description"><p><b>Uriothelial Carcinoma</b></p>
</div>






    </div>




</div>
<div class="menu section indication-menu">


    <ul class="menu-wrapper simple horizontal" data-role="indication-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Safety

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Efficacy

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        More

    </a>



</li>


    </ul>

</div>

</div>
            </section>
            <section class="col col-large-3-of-12 col-medium-3-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section indication">

    <div class="text-media" data-component="text-media" data-role="indication" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-small-img-blank.png">







    </div>




</div>
<div class="textAndMedia section indication-text">

    <div class="text-media" data-component="text-media" data-role="indication-text" data-content-featured="false">



    <div class="text-media-description"><p><b>Indicator</b></p>
</div>






    </div>




</div>
<div class="menu section indication-menu">


    <ul class="menu-wrapper simple horizontal" data-role="indication-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Safety

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Efficacy

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        More

    </a>



</li>


    </ul>

</div>

</div>
            </section>
            <section class="col col-large-3-of-12 col-medium-3-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section indication">

    <div class="text-media" data-component="text-media" data-role="indication" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-small-img-blank.png">







    </div>




</div>
<div class="textAndMedia section indication-text">

    <div class="text-media" data-component="text-media" data-role="indication-text" data-content-featured="false">



    <div class="text-media-description"><p><b>Indicator</b></p>
</div>






    </div>




</div>
<div class="menu section indication-menu">


    <ul class="menu-wrapper simple horizontal" data-role="indication-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Safety

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Efficacy

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        More

    </a>



</li>


    </ul>

</div>

</div>
            </section>













































    </div>




</div>
<div class="columnLayoutBlock section basic-columns">

    <div class="columns" data-role="basic-columns">








            <section class="col col-large-3-of-12 col-medium-3-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section indication">

    <div class="text-media" data-component="text-media" data-role="indication" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-small-img-blank.png">







    </div>




</div>
<div class="textAndMedia section indication-text">

    <div class="text-media" data-component="text-media" data-role="indication-text" data-content-featured="false">



    <div class="text-media-description"><p><b>Indicator</b></p>
</div>






    </div>




</div>
<div class="menu section indication-menu">


    <ul class="menu-wrapper simple horizontal" data-role="indication-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Safety

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Efficacy

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        More

    </a>



</li>


    </ul>

</div>

</div>
            </section>
            <section class="col col-large-3-of-12 col-medium-3-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section indication">

    <div class="text-media" data-component="text-media" data-role="indication" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-small-img-blank.png">







    </div>




</div>
<div class="textAndMedia section indication-text">

    <div class="text-media" data-component="text-media" data-role="indication-text" data-content-featured="false">



    <div class="text-media-description"><p><b>Indicator</b></p>
</div>






    </div>




</div>
<div class="menu section indication-menu">


    <ul class="menu-wrapper simple horizontal" data-role="indication-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Safety

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Efficacy

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        More

    </a>



</li>


    </ul>

</div>

</div>
            </section>
            <section class="col col-large-3-of-12 col-medium-3-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section indication">

    <div class="text-media" data-component="text-media" data-role="indication" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-small-img-blank.png">







    </div>




</div>
<div class="textAndMedia section indication-text">

    <div class="text-media" data-component="text-media" data-role="indication-text" data-content-featured="false">



    <div class="text-media-description"><p><b>Indicator</b></p>
</div>






    </div>




</div>
<div class="menu section indication-menu">


    <ul class="menu-wrapper simple horizontal" data-role="indication-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Safety

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Efficacy

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        More

    </a>



</li>


    </ul>

</div>

</div>
            </section>
            <section class="col col-large-3-of-12 col-medium-3-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section indication">

    <div class="text-media" data-component="text-media" data-role="indication" data-content-featured="false">




        <img class="text-media-img" src="/content/dam/opentemplate_example/master-page-demo/tecentric-small-img-blank.png">







    </div>




</div>
<div class="textAndMedia section indication-text">

    <div class="text-media" data-component="text-media" data-role="indication-text" data-content-featured="false">



    <div class="text-media-description"><p><b>Indicator</b></p>
</div>






    </div>




</div>
<div class="menu section indication-menu">


    <ul class="menu-wrapper simple horizontal" data-role="indication-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Safety

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Efficacy

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        More

    </a>



</li>


    </ul>

</div>

</div>
            </section>













































    </div>




</div>

</div>
            </article>
        </div>

    </div>

    <footer class="footer ">



        <div><div class="columnLayoutBlock section">

    <div class="columns">


            <section class="col col-large-12-of-12 col-medium-12-of-12 col-small-12-of-12">
                <div><div class="textAndMedia section footer-copywrite">

    <div class="text-media" data-component="text-media" data-role="footer-copywrite" data-content-featured="false">



    <div class="text-media-description"><p>© 2017 Roche Irland</p>
</div>






    </div>




</div>
<div class="menu section footer-menu">


    <ul class="menu-wrapper simple horizontal" data-role="footer-menu" data-menu-text="menu" data-close-text="close">
        <li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Terms and Conditions

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Privacy Policy

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Report an Adverse Event

    </a>



</li>
<li class="menuItem section">
    <a href="/content/projects.html" class="menu-link ">
        Request Medical Information

    </a>



</li>


    </ul>

</div>

</div>
            </section>



















































    </div>




</div>
<div class="textAndMedia section footer-text">

    <div class="text-media" data-component="text-media" data-role="footer-text" data-content-featured="false">



    <div class="text-media-article"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a maximus massa, eu dignissim nibh. Nullam nec erat leo. Ut iaculis tristique purus in condimentum. Vestibulum aliquet turpis eu volutpat convallis. Donec non dui lacinia, fermentum turpis in, bibendum massa. Donec venenatis nibh id nunc ullamcorper tristique. Duis lectus dui, efficitur at tincidunt non, blandit vitae felis. Fusce elementum, nisi ut vehicula bibendum, tellus nisi maximus dolor, at dapibus ipsum eros quis mi.</p>
</div>






    </div>




</div>
<div class="textAndMedia section">

    <div class="text-media" data-component="text-media" data-content-featured="false">


























    </div>




</div>

</div>
    </footer>
</div>







        </div>
  <div id="app"></div>
</body>
</html>
